
.loader-div{
    border: 3.5px solid rgba(146, 139, 139, 0.6);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
}
@keyframes spin{
    to{
        -webkit-transform: rotate(360deg);
    }
}