*{
  box-sizing: border-box;
  margin: 0;
}
body{
  font-family: "Poppins",sans-serif;
}

.c-btn{
  background-color: black;
  color: ghostwhite;
  cursor: pointer;
  font-family: inherit;
  border: none;
}
.c-input{
  border: 0;
  border-bottom: 1px solid;
  outline: none;
  font-size: 1.2rem;
  font-family: inherit;
  background-color: inherit;
}