*{
  box-sizing: border-box;
  margin: 0;
}
body{
  font-family: "Poppins",sans-serif;
}

.c-btn{
  background-color: black;
  color: ghostwhite;
  cursor: pointer;
  font-family: inherit;
  border: none;
}